[Desktop Entry]
Version=1.0
Type=Application
Name=2.5_查看结果
Comment=2.5_查看结果
Exec=gnome-terminal -- bash -c "bash /home/handsfree/auto-calibration/scripts/2.5_viewer.sh; exec bash"
Icon=utilities-terminal
Terminal=true
