[Desktop Entry]
Version=1.0
Type=Application
Name=2.6_矩阵转换
Comment=2.6_矩阵转换
Exec=python3 "/home/handsfree/auto-calibration/scripts/2.6_transform.py" "/home/handsfree/auto-calibration/scripts/extrinsic_matrix.txt"
Path=/home/handsfree/auto-calibration/scripts
Icon=utilities-terminal
Terminal=true
